@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    background-color: #402820;
    margin: 0 ;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --fontcolor-primary: white;
    --fontcolor-secondary: #FD641D;

} 

#nav{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 1.6cm;
    gap: 6cm;  
}
    .logo-name {
        color: #FD641D;
        
        font-weight: 700;
    }
    #nav ul{
        text-decoration: none;
        list-style: none;
    }
    #nav li{
        display: inline;
        margin-right: 20px;
        padding: 12px;
        
    }
    #nav li a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0s, 0.5s;
    }
#nav li a:hover{
        border-bottom:2px solid ;
        color: #FD641D;
        font-weight: 700;
        transition: 0.5s;
    }



    .kontak p{
        font-weight: 400;
        color: #FD641D;
        background-color: white;
        border-radius: 66px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        justify-content: center;
        transition: 0s, 1s;
        font-weight: 500;

    }
    .kontak {
        text-decoration: none;
        color: #FD641D;
        font-weight: 700;
    }
    .kontak :hover{
        background-color: #852A00;
        border: none;
        color: #FD641D;
        transition: 0.5s;
    }
    .kontak a{
        text-decoration: none;
    }









#keahlian{
    justify-content: center; /* Posisikan anak ke tengah secara horizontal */
    align-items: center;      /* (opsional) Tengah secara vertikal jika dibutuhkan */
    margin: 2em 12em;
    padding: 12em 12em;
}
#keahlian h1{
    color: var(--fontcolor-primary);
    font-weight: 700;
    font-size: 2em;

}
#keahlian p{
    color: var(--fontcolor-primary);
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 1em;
}
.keahlian-list{
    display: flex;
    gap: 2em;
    margin-top: 2em;
}
.keahlian-list-web{
    gap: 1em;
    background-color: #FD641D;
    padding: 1em;
    border-radius: 12px;
}
.keahlian-list-web p{
    color: var(--fontcolor-primary);
    font-weight: 700;
    font-size: 1.2em;
}
.keahlian-list-web p span{
    color: linear-gradient(to right, #FD641D, #852A00);
    font-weight: 700;
    font-size: 1.2em;
}
.keahlian-list-web ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1em;

    color: var(--fontcolor-primary);
}
.keahlian-list-web:hover{
    background-color: #852A00;
    color: var(--fontcolor-primary);
    transition: 0.5s;
}

.keahlian-list-jaringan{
    color: var(--fontcolor-primary);
    font-weight: 700;
    background-color: #FD641D;
    padding: 1em;
    border-radius: 12px;
}

.keahlian-list-jaringan ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1em;
}
.keahlian-list-jaringan:hover{
    background-color: #852A00;
    color: var(--fontcolor-primary);
    transition: 0.5s;
}



#kontak{
    margin-top: cm;
    justify-content: center;
    align-items: center;
    margin: 12em 12em;
}
#kontak h1{
    text-align: center;
    color: var(--fontcolor-primary);
    font-weight: 700;
    font-size: 2em;
}
.gambar-logo-ndf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambar-logo-ndf img{
    max-width: 2cm;
    border-radius: 12px;
}
.kontak-sosialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1cm;

    margin-top: 30px;
}

.sosialmedia-instagramicon img,
.sosialmedia-linkedinicon img{
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
}